<div class="university-honors">
  <h1><u>University Honors</u></h1>
  <div class="sections">
    <div class="section" id="hs">
      <h2>Honors Seminars</h2>
      <div class="seminars">
        <a routerLink="/global-obesity-epidemic-seminar" class="seminar"
          >Global Obesity Epidemic Seminar</a
        >
        <a routerLink="/intermediate-composition" class="seminar"
          >Honors Intermediate Composition</a
        >
        <a routerLink="/learning-from-failure" class="seminar"
          >Learning From Failure</a
        >
      </div>
    </div>
    <div class="section" id="yir">
      <h2>Years In Review</h2>
      <div class="years-in-review">
        <div class="year-in-review">
          <h3 class="year">2022-2023</h3>
          <p class="review">
            This year has been a year of major growth for me. Two major events
            have happened this academic year that morphed me in to a man I never
            would’ve imagined I could be. In August, I moved in to my first ever
            apartment. That move came with many new responsibilities such as
            paying rent, buying groceries and making meals. Coming into this
            year, I knew my way around a kitchen, but I had never actually made
            balanced meals or planned out meals for the week so I could buy the
            appropriate things at the store. At home, if I ever wanted food, I
            looked in the fridge and cooked something up that looked easy and
            appealing. Planning and cooking my own meals has made me into a much
            more responsible adult. Now that I am paying rent, electricity, and
            WiFi, I have to be more responsible with the budgeting of my money.
            I can directly transfer these skills into my academic life and be
            more responsible with doing my homework on time. The second major
            event this year was my first co-op. I got an internship at London
            Computer Systems as a Software Quality Assurance Tester. This was my
            first internship in the tech field, so understandably, I was very
            nervous. I wasn't sure what I would be expected to know and how much
            they would be willing to teach me. After my first week, my nerves
            were almost completely gone. Meeting the team I worked with and
            seeing how receptive they were was amazing. The team had co-ops in
            the past, so they knew I wouldn’t know much coming in. For the first
            few months of my co-op, my main responsibility was to test bug fixes
            so no new bugs made it out to production. I accomplished this in
            many ways while learning many different techniques. Some of the
            software I learned to use was Katalon, Postman, and Jmeter. I’ll be
            able to use all of these programs in my future jobs and possibly
            even in my academic career. For the last month of my co-op, I got
            the opportunity to start software development training. This was a
            big step, because typically co-ops don’t start this until their
            second rotation, so I was very grateful to have the opportunity. I
            learned a lot but it was also challenging to understand at times. My
            co-workers and my manager were very helpful when I had questions,
            always making time to help. I am going to apply that in my classes
            for my benefit, even though it is not my instinct to always speak
            up. Overall, I learned so much in this past year that will help me
            accomplish my future academic and professional goals.
          </p>
        </div>
        <div class="year-in-review">
          <h3 class="year">2021-2022</h3>
          <p class="review">
            My first year in college has been a series of ups, downs, and
            unexpected turns.I have over come many different obstacles that come
            with living on your own for the first time, taking college level
            courses, and the lasting impact that the COVID pandemic has had on
            college campuses. First, the daunting experience of living on my own
            for the first time challenged me to become more responsible. Living
            in a dorm may not have been completely autonomous, but it was
            drastically different than living with my parents at home. At home,
            I always had my parents as my backbone for anything I needed. On
            campus, my RA and my friends were there to help with problems that I
            ran into. At the beginning of my first semester, I learned about all
            the support organizations at UC to help students that either need
            help with the content of the classes or the stress of them. During
            my semesters in the dorm, I realized how important it is to stay
            organized with all of my school work and chores. Staying organized
            and on top of my school work helped limit stress and made time to
            make new friends and play intramural sports. Not only was moving in
            to a dorm daunting, but going to classes in large and frightening
            lecture halls was extremely different from my high school
            experience. Going to study groups and office hours with my
            professors helped a lot when I was studying for exams because it was
            a lot easier to have someone explain what I was doing wrong rather
            than reading a textbook by myself. I learned that just because I got
            help for certain classes does not mean I am any less smart than my
            classmates. When I first got to campus, we had to constantly wear
            masks, take COVID checks, and provide a negative COVID test. We even
            had online school for part of our second semester. The constant
            changing of protocol When I first got to campus, we had to
            constantly wear masks, take COVID checks, and provide a negative
            COVID test.We even had online school for part of our second
            semester. The constant changing of protocol made everyone unsure of
            the future and when it all would stop. I was always worried I would
            catch COVID and have to miss two weeks of classes.This would’ve
            significantly impacted my mental health and my grades. In person
            learning is much more effective for me,so COVID had a substantial
            impact on my learning.For the two weeks where we had to follow
            distance learning protocols, my professors were extremely helpful
            when it came to course material,as they knew this was new to
            everyone.The obstaclesI faced throughout my freshman year were
            challenging,but I was able to overcome them because of all the
            support I had from my new family here at UC.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
