.about-me-desc {
  display: flex;
  color: white;
  font-size: larger;
}

.about-me-container {
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-info-box {
  padding-left: 2em;
  width: 40%;
}

.left-info-box {
  padding-right: 2em;
  width: 40%;
  text-align: end;
}

.name {
  color: white;
}

.contact-info {
  color: white;
  text-align: center;
}

.email {
  color: unset;
}

.headshot {
  width: 75%;
  border-radius: 50%;
}

@media (max-width: 1000px) {
  .information {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
    gap: 20px;
  }

  .left-info-box {
    width: 80%;
    padding-right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .right-info-box {
    width: 80%;
    padding-left: 0;
    text-align: center;
  }

  .headshot {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .left-info-box,
  .right-info-box {
    width: 90%;
  }

  .about-me-container {
    font-size: xx-large;
  }

  .about-me-desc {
    font-size: 1rem;
  }
}
