<div class="information">
  <div class="left-info-box">
    <img class="headshot" src="assets/John-Parks-headshot.jpg" />
  </div>
  <div class="right-info-box">
    <h1 class="name">John Parks</h1>
    <p class="about-me-desc">
      Hi! Welcome to my portfolio. I'm currently a researcher at the University
      of Cincinnati, where I work on detecting hardware security vulnerabilities
      in RTL code. You can learn more about this and my other work experiences
      on my Work Experience page. Outside of work, I enjoy building small
      projects related to my hobbies or that solve a problem of mine, check them
      out on my Projects page. When I'm not coding, you'll find me watching
      College Football and Liverpool FC matches, doing puzzles, hiking, or out
      on the golf course.
    </p>
  </div>
</div>
<div class="contact-info">
  Feel free to contact me at
  <a href="mailto:parksjh@mail.uc.edu" class="email">parksjh&#64;mail.uc.edu</a>
</div>
