<div class="information">
  <div class="left-info-box">
    <img class="headshot" src="assets/John-Parks-headshot.jpg" />
  </div>
  <div class="right-info-box">
    <h1 class="name">John Parks</h1>
    <p class="about-me-desc">
      &nbsp; &nbsp; Hi! I am a fourth-year computer science student at the
      University of Cincinnati. I am currently on co-op in Bilbao, Spain working
      with the VISENS research group to develop an autonomous system to detect
      spasticity in patients with neurological conditions. On my previous co-op
      rotations I worked as a software engineer on .NET applications and as a
      full-stack developer on a web application. Outside of professional
      experience I love to work on anything involving artificial intelligence or
      web development projects. Aside from programming I enjoy puzzles, reading,
      hiking, playing golf, UC sports, and watching soccer. You can always catch
      me watching Liverpool F.C. or F.C. Cincinnati or practicing my golf swing.
    </p>
  </div>
</div>
<div class="contact-info">
  Feel free to contact me at
  <a href="mailto:parksjh@mail.uc.edu" class="email">parksjh&#64;mail.uc.edu</a>
</div>
