<div class="information">
  <div class="left-info-box">
    <img class="headshot" src="assets/John-Parks-headshot.jpg" />
  </div>
  <div class="right-info-box">
    <h1 class="name">John Parks</h1>
    <p class="about-me-desc">
      I’m currently doing research at the University of Cincinnati where I’m
      working on detecting hardware security vulnerabilities. Before that, I had
      some awesome co-op experiences — doing artificial intelligence research in
      Spain, building .NET applications as a software engineer, and working as a
      full-stack web developer. I really enjoy working on projects that involve
      AI and web development - anything where I can build something smart and
      useful. When I’m not working, you’ll find me doing puzzles, reading, or
      hiking. I’m a big fan of college football and soccer, I’ve always rooted
      for Liverpool FC, and started following Sestao River Club since I studied
      abroad in Bilbao. Right now, my favorite thing is golf, whether I’m
      playing or just thinking about how to improve my game.
    </p>
  </div>
</div>
<div class="contact-info">
  Feel free to contact me at
  <a href="mailto:parksjh@mail.uc.edu" class="email">parksjh&#64;mail.uc.edu</a>
</div>
