<body>
  <div class="dropdown">
    <button class="dropdown-button" type="button">
      <mat-icon>density_medium</mat-icon>
    </button>
    <div class="dropdown-content">
      <button type="button" routerLink="/about-me">About Me</button>
      <button type="button" routerLink="/work-experience">Work Experience</button>
      <button type="button">Projects</button>
      <button type="button" routerLink="/university-honors">University Honors</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</body>
