<div class="work-experience">
  <h1><u>Work Experience</u></h1>
  <a
    class="pdfLink"
    target="_blank"
    href="https://acrobat.adobe.com/id/urn:aaid:sc:VA6C2:7a4055c2-7a62-432f-8924-f7f7bd2c4aeb"
  >
    View my Resume
  </a>
  <div class="job">
    <div class="company">Pole/Zero</div>
    <div class="job-title">Software Engineer Co-op</div>
    <div class="time-and-loc">West Chester Township, OH May 2024 - Present</div>
    <p>
      &nbsp; &nbsp;I am currently on co-op at Pole/Zero. It is my first rotation
      at Pole/Zero where I am a software engineer co-op working on different
      applications using the .NET Framework. So far on my co-op I have worked on
      developing software that compares and move files between folder locations.
      While developing this tool I had to do rigorous testing to ensure that no
      data was lost while any files were moved. I have also created and executed
      test plans for software before it is released.
    </p>
  </div>
  <div class="job">
    <div class="company">London Computer Systems</div>
    <div class="job-title">Software Developer Co-op</div>
    <div class="time-and-loc">Cincinnati, OH August 2023 - December 2023</div>
    <p>
      &nbsp; &nbsp; On my second co-op rotation at LCS I worked as a full-stack
      software developer. My duties reached a wide variety of domains One being
      developing new features for the application. When creating new features,
      the first step was defining requirements for the feature. After that, I
      wrote the SQL scripts to update the database, built up the api stack,
      designed the front-end for the feature, and then connected all the parts.
      This allowed the new feature to work seamlessly with the existing
      application. After creating a new feature, I presented the feature to our
      stakeholders and my managers. In addition to developing new features, I
      worked on debugging and creating solutions for bugs reported by QA testers
      and customers. Apart from programming, I participated in retrospective
      meetings to help improve development processes and team workflow.
      Throughout this co-op rotation I gained and improved on many skills such
      as teamwork, TypeScript, SQL, HTML/CSS, C#, Git, Angular, and NgRx.
    </p>
  </div>
  <div class="job">
    <div class="company">London Computer Systems</div>
    <div class="job-title">Quality Assurance Tester Co-op</div>
    <div class="time-and-loc">Cincinnati, OH January 2023 - April 2023</div>
    <p>
      &nbsp; &nbsp; I worked as a Quality Assurance Tester for my first co-op
      rotation at LCS. Some of my duties included testing bug fixes, new
      features, and checklist testing prior to the application was deployed to
      production. It was my job to ensure that customers got a clean, polished,
      and working product. While working as a QA Tester I worked with developers
      to understand their solutions and guarantee the most efficient testing
      methods. Throughout this co-op rotation I gained valuable experience in
      technologies such as Katalon, Postman, and Apache JMeter. I was also able
      to boost my communication and teamwork skills as I was constantly working
      with other developers and QAs to improve the product as much as possible.
    </p>
  </div>
  <div class="job">
    <div class="company">BARK Handmade</div>
    <div class="job-title">Co-Founder</div>
    <div class="time-and-loc">Cincinnati, OH May 2020 - March 2023</div>
    <p>
      &nbsp; &nbsp; When the COVID pandemic started my brother, a friend, and I
      started a woodworking business. We made everything from end tables, flags,
      dining tables, and artwork. To ensure profitability, we had to plan out
      each project to keep track of our finances. To sell our tables we created
      an Etsy marketplace and presented our work in booths at different fairs
      around the area. We analyzed trends on social media to understand the best
      marketing strategies for potential customers. Throughout this venture I
      learned valuable lessons about time management, teamwork, and finances.
    </p>
  </div>
  <div class="job">
    <div class="company">The Motz Group</div>
    <div class="job-title">Field Installation Technician Intern</div>
    <div class="time-and-loc">Cincinnati, OH April 2022 - August 2022</div>
    <p>
      &nbsp; &nbsp; At The Motz Group, I worked with 5-10 other people to
      complete a variety of sports field installations. Communicating
      effectively was a pinnacle part of this job, as we had to adhere to strict
      safety measures working with heavy machinery. To effectively participate,
      I had to pick up many specific skills quickly. Since I was on multiple
      projects with varying locations in Ohio that required different sets of
      skills, I had to adapt in many different situations. Throughout this
      experience, I greatly improved my teamwork and communication skills to
      ensure that the fields were built correctly and safely.
    </p>
  </div>
</div>
