<div class="work-experience">
    <h1><u>Work Experience</u></h1>
    <div class="job">
        <div class="company">London Computer Systems</div>
        <div class="job-title">Software Developer Co-op</div>
        <div class="time-and-loc">Cincinnati, OH  August 2023-December 2023</div>
        <p> &nbsp; &nbsp; 
        </p>
    </div>
    <div class="job">
        <div class="company">London Computer Systems</div>
        <div class="job-title">Quality Assurance Tester Co-op</div>
        <div class="time-and-loc">Cincinnati, OH  January 2023-April 2023</div>
        <p> &nbsp; &nbsp; I worked as a Quality Assurance Tester for my first co-op rotation at LCS. Some of my duties included testing bug fixes,
            new features, and checklist testing before the application was deployed to production. It was my job to ensure that customers got a
            clean, polished, and working product. While working as a QA Tester I worked together with developers to guarantee I understood their
            solutions and could test them in the best way possible. Throughout this co-op rotation I gained valuable experience in technologies such as
            Katalon, Postman, and Apache JMeter. I was also able to boost my communication and teamwork skills as I was constantly working with other
            developers and QAs to improve the product as much as possible.
        </p>
    </div>
    <div class="job">
        <div class="company">BARK Handmade</div>
        <div class="job-title">Co-Founder</div>
        <div class="time-and-loc">Cincinnati, OH  May 2020-March 2023</div>
        <p> &nbsp; &nbsp; 
        </p>
    </div>
    <div class="job">
        <div class="company">The Motz Group</div>
        <div class="job-title">Field Installation Technician Intern</div>
        <div class="time-and-loc">Cincinnati, OH  April 2022-August 2022</div>
        <p> &nbsp; &nbsp; 
        </p>
    </div>
</div>

