.page-title {
  text-align: center;
  color: white;
}

.pdfLink {
  color: black;
  text-decoration: none;
  border: 1px solid white;
  padding: 1em;
  border-radius: 10em;
  background-color: white;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  height: 53px;
  padding: 16px;
  font-family: inherit;
  font-size: 16px;
}

.pdfLink:hover {
  font-weight: bold;
}

.pdfLink-container {
  text-align: center;
  margin: 16px 0 24px 0;
}

.work-experience-timeline {
  margin: 0 auto;
  padding: 40px 0;
}

.timeline {
  position: relative;
  margin: 40px 0 0 0;
  padding: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background: #e31837;
  z-index: 0;
}

.timeline-date-marker {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #262525;
  color: white;
  padding: 1em 0;
  font-weight: bold;
  font-size: 1em;
  z-index: 2;
  white-space: nowrap;
  letter-spacing: 1px;
}

.timeline-item {
  display: flex;
  position: relative;
  width: 100%;
  padding: 30px 0;
  justify-content: space-around;
  transition: transform 0.3s ease-in-out;
}

.timeline-item.active {
  transform: scale(1.2);

}

.timeline-item.right {
  flex-direction: row-reverse;
  text-align: start;
}

.timeline-item.left {
  text-align: end;
}

.timeline-job,
.timeline-image {
  width: 35%;
  padding: 16px 16px;
  border-radius: 8px;
  margin: 0 24px;
  min-height: 180px;
  box-sizing: border-box;
  z-index: 3;
  align-content: space-evenly;
}

.timeline-image {
  display: flex;
  align-items: center;
}

.timeline-image.right {
  justify-content: start;
}

.timeline-image.left {
  justify-content: end;
}

.job-title {
  font-size: 2em;
  font-weight: bolder;
  color: white;
  letter-spacing: 0.5px;
}

.job-company {
  font-size: 1.05em;
  font-weight: bold;
  color: white;
  letter-spacing: 0.5px;
}

.job-location {
  color: white;
}

.job-date {
  color: white;
}

.job-description {
  margin: 2em auto;
  color: white;
}

img {
  width: 75%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

/* Responsive for mobile */
@media (max-width: 800px) {
  .timeline {
    padding: 0;
  }
  .timeline-item,
  .timeline-item.left,
  .timeline-item.right {
    flex-direction: column !important;
    align-items: center;
  }
  .timeline-job,
  .timeline-image {
    width: 90%;
    margin: 12px 0;
  }
  .timeline-marker {
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
  }
}
