.work-experience {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job {
  display: flex;
  flex-direction: column;
  padding: 0 20em 0 20em;
  align-items: center;
  margin: 1em 0 1em 0;
}

.company {
  font-weight: 500;
  font-size: x-large;
}

.job-title {
  font-size: large;
  font-weight: 400;
}

.time-and-loc {
  font-style: italic;
}
