<div class="work-experience-timeline">
  <h1 class="page-title"><u>Work Experience</u></h1>
  <div class="pdfLink-container">
    <a
      class="pdfLink"
      target="_blank"
      href="https://acrobat.adobe.com/id/urn:aaid:sc:VA6C2:8f187233-e975-4a75-96ff-eae4dd383558"
    >
      View my Resume
    </a>
  </div>
  <div class="timeline">
    <div class="timeline-item left">
      <div class="timeline-job">
        <div class="job-title">Hardware Security Researcher</div>
        <div class="job-company">
          UCdasec Research Team - University of Cincinnati
        </div>
        <div class="job-location">Cincinnati, Ohio</div>
        <!-- <div class="job-date">May 2025 - Present</div> -->
        <p class="job-description">
          I am currently conducting research in the UCdasec Lab at the
          University of Cincinnati, focusing on identifying hardware
          vulnerabilities listed in the Common Weakness Enumeration (CWE) list.
          As of now my work involves reviewing recent publications and exploring
          static analysis techniques to detect security flaws in hardware
          designs.
        </p>
      </div>
      <!-- <div class="timeline-marker"></div> -->
      <div class="timeline-date-marker">May 2025 - Present</div>
      <div class="timeline-image right">
        <img src="assets/company-logos/uc-logo.png" alt="UC Logo" />
      </div>
    </div>

    <div class="timeline-item right">
      <!-- <div class="timeline-marker"></div> -->
      <div class="timeline-date-marker">Jan 2025 - May 2025</div>
      <div class="timeline-job">
        <div class="job-title">Artificial Intelligence Researcher</div>
        <div class="job-company">
          VISENS Research Group - University of the Basque Country
        </div>
        <div class="job-location">Bilbao, Spain</div>
        <!-- <div class="job-date">Jan 2025 - May 2025</div> -->
        <p class="job-description">
          As an Artificial Intelligence Researcher with the VISENS group at the
          University of the Basque Country, I conducted independent research on
          AI-based detection of spasticity using BlazePose and other computer
          vision techniques. As part of this work, I developed a Python
          algorithm to detect and correct pose estimation errors, significantly
          improving the reliability of joint tracking. I investigated several
          anomaly detection methods to identify inconsistent key points in human
          pose estimation. At the conclusion of the project, I delivered a
          technical presentation to the full research team summarizing my
          findings.
        </p>
      </div>
      <div class="timeline-image left">
        <img src="../../assets/company-logos/UPV-logo.png" alt="UPV Logo" />
      </div>
    </div>

    <div class="timeline-item left">
      <!-- <div class="timeline-marker"></div> -->
      <div class="timeline-date-marker">May 2024 - Aug 2024</div>
      <div class="timeline-job">
        <div class="job-title">Software Engineer Co-op</div>
        <div class="job-company">Pole/Zero</div>
        <div class="job-location">West Chester Township, OH</div>
        <!-- <div class="job-date">May 2024 - Aug 2024</div> -->
        <p class="job-description">
          During my third co-op rotation at Pole/Zero as a software engineer, I
          worked with the .NET Framework to develop and enhance various
          applications. My work included automating the migration of thousands
          of data files, saving the company $180,000 by modifying software to
          work with different versions of existing equipment. I also upgraded
          multiple software packages to the latest version of a shared codebase,
          resulting in improved performance and security. Additionally, I
          created and executed comprehensive test plans to verify that software
          applications met established standards before release.
        </p>
      </div>
      <div class="timeline-image right">
        <!-- <img src="../../assets/company-logos/PZ-logo.jpg" alt="PZ Logo" /> -->
        <img src="../../assets/company-logos/PZ-logo.png" alt="PZ Logo" />
      </div>
    </div>

    <div class="timeline-item right">
      <!-- <div class="timeline-marker"></div> -->
      <div class="timeline-date-marker">Aug 2023 - Dec 2023</div>
      <div class="timeline-job">
        <div class="job-title">Software Developer Co-op</div>
        <div class="job-company">London Computer Systems</div>
        <div class="job-location">Cincinnati, OH</div>
        <!-- <div class="job-date">Aug 2023 - Dec 2023</div> -->
        <p class="job-description">
          On my second co-op rotation at LCS I worked as a full-stack software
          developer. My duties reached a wide variety of domains One being
          developing new features for the qManage application. When creating new
          features, the first step was defining requirements for the feature.
          After that, I wrote the SQL scripts to update the database, built up
          the api stack, designed the front-end for the feature, and then
          connected all the parts. This allowed the new feature to work
          seamlessly with the existing application. After creating a new
          feature, I presented the feature to our stakeholders and my managers.
          In addition to developing new features, I worked on debugging and
          creating solutions for bugs reported by QA testers and customers.
          Apart from programming, I participated in retrospective meetings to
          help improve development processes and team workflow. Throughout this
          co-op rotation I gained and improved on many skills such as teamwork,
          TypeScript, SQL, HTML/CSS, C#, Git, Angular, and NgRx.
        </p>
      </div>
      <div class="timeline-image left">
        <img src="../../assets/company-logos/lcs-logo.png" alt="LCS Logo" />
      </div>
    </div>

    <div class="timeline-item left">
      <!-- <div class="timeline-marker"></div> -->
      <div class="timeline-date-marker">Jan 2023 - Apr 2023</div>
      <div class="timeline-job">
        <div class="job-title">Quality Assurance Tester Co-op</div>
        <div class="job-company">London Computer Systems</div>
        <div class="job-location">Cincinnati, OH</div>
        <!-- <div class="job-date">Jan 2023 - Apr 2023</div> -->
        <p class="job-description">
          I worked as a Quality Assurance Tester for my first co-op rotation at
          LCS. Some of my duties included testing bug fixes, new features, and
          checklist testing prior to the application was deployed to production.
          It was my job to ensure that customers got a clean, polished, and
          working product. While working as a QA Tester I worked with developers
          to understand their solutions and guarantee the most efficient testing
          methods. Throughout this co-op rotation I gained valuable experience
          in technologies such as Katalon, Postman, and Apache JMeter. I was
          also able to boost my communication and teamwork skills as I was
          constantly working with other developers and QAs to improve the
          product as much as possible.
        </p>
      </div>
      <div class="timeline-image right">
        <img src="../../assets/company-logos/lcs-logo.png" alt="LCS Logo" />
      </div>
    </div>

    <div class="timeline-item right">
      <!-- <div class="timeline-marker"></div> -->
      <div class="timeline-date-marker">May 2020 - Mar 2023</div>
      <div class="timeline-job">
        <div class="job-title">Co-Founder</div>
        <div class="job-company">BARK Handmade</div>
        <div class="job-location">Cincinnati, OH</div>
        <!-- <div class="job-date">May 2020 - Mar 2023</div> -->
        <p class="job-description">
          When the COVID pandemic started my brother, a friend, and I started a
          woodworking business. We made everything from end tables, flags,
          dining tables, and artwork. To ensure profitability, we had to plan
          out each project to keep track of our finances. To sell our tables we
          created an Etsy marketplace and presented our work in booths at
          different fairs around the area. We analyzed trends on social media to
          understand the best marketing strategies for potential customers.
          Throughout this venture I learned valuable lessons about time
          management, teamwork, and finances.
        </p>
      </div>
      <div class="timeline-image left">
        <img src="../../assets/company-logos/bark-logo-1.png" alt="Bark Logo" />
        <!-- <img src="../../assets/company-logos/bark-logo.png" alt="Bark Logo" /> -->
      </div>
    </div>

    <div class="timeline-item left">
      <!-- <div class="timeline-marker"></div> -->
      <div class="timeline-date-marker">Apr 2022 - Aug 2022</div>
      <div class="timeline-job">
        <div class="job-title">Field Installation Technician Intern</div>
        <div class="job-company">The Motz Group</div>
        <div class="job-location">Cincinnati, OH</div>
        <!-- <div class="job-date">Apr 2022 - Aug 2022</div> -->
        <p class="job-description">
          At The Motz Group, I worked with 5-10 other people to complete a
          variety of sports field installations. Communicating effectively was a
          pinnacle part of this job, as we had to adhere to strict safety
          measures working with heavy machinery. To effectively participate, I
          had to pick up many specific skills quickly. Since I was on multiple
          projects with varying locations in Ohio that required different sets
          of skills, I had to adapt in many different situations. Throughout
          this experience, I greatly improved my teamwork and communication
          skills to ensure that the fields were built correctly and safely.
        </p>
      </div>
      <div class="timeline-image right">
        <img src="../../assets/company-logos/motz-logo.png" alt="Motz Logo" />
      </div>
    </div>
  </div>
</div>
