<div class="obesity-seminar">
    <h1><u>Global Obesity Epidemic Seminar</u></h1>
    <p class="honors-showcase">&nbsp; &nbsp;I originally signed up for this class because I thought I would learn more about food because
         I was going to be making all my food for myself for the first time. The first day in the class proved me wrong
          and even though it wasn’t what I expected, the things I learned were so interesting and changed me in a positive
           way that I never expected. The main objectives of the class were to learn what leads to obesity, the problems
            people face while experiencing obesity, why it is a problem, and how we can try to fix it. We learned about
             how many different eating disorders lead to obesity and how weight gain can be very easy, but then weight
              loss is much harder. Obesity is caused by many different factors while many people think it is just because
               they are lazy. I learned that this was not true because many different physical and psychological factors
                play into someone becoming obese. After learning about all the different factors that come into obesity 
                and what people experience, we had to come up with some solutions to solving the global obesity epidemic.
                 We were separated into groups for this final project, and we had to present our ideas to our classmates 
                 and professor. Our proposal for the final presentation is attached below.
    </p>
    <a href="https://mailuc-my.sharepoint.com/personal/parksjh_mail_uc_edu/Documents/Obesity%20Proposal.pdf?login_hint=parksjh%40mail.uc.edu" target="_blank" class="pdfLink">
        View my Obesity Epidemic Project Proposal
    </a>
    <a routerLink="/university-honors" class="back-link">Back to University Honors</a>
</div>
