<div class="learning-from-failure">
  <h1><u>Learning From Failure</u></h1>
  <p class="description">
    &nbsp; &nbsp;We often hear about engineering mistakes in the news such as
    the recent news about Boeing doors flying off mid flight. Most of the times
    these stories have moved out fo the news cycle before we can find out how it
    happened and what is being done to fix the issue. The whole basis of this
    course was learning about several engineering disasters by first looking at
    a materials analysis of the malfunction, then the social impact of the
    disaster, and finally the aftermath. Some of these disasters included the
    NASA Challenger Shuttle, the NASA Columbia shuttle, and the World Trade
    Center. We looked at how engineering and materials played a part in what
    happened and what could have been done to either prevent the issue or reduce
    the loss of life. Some of the mistakes made seem very simple to fix such as
    the Challenger shuttle when engineers suggested they postpone the launch of
    the shuttle, but executives disagreed because of a lack of testing data.
    When reflecting on these disasters it reveals that during the engineering
    process, testing is paramount to prevent the loss of human life. As a final
    project for this seminar we were split into groups and had to present a new
    disaster in the format of the ones we had covered in class. For our
    presentation we had to create a YouTube video that conveyed the engineering
    topics surrounding the disaster My group decided to cover the recent Titan
    Submersible disaster and you can find our powerpoint below.
  </p>
  <a
    target="_blank"
    class="pdfLink"
    href="https://acrobat.adobe.com/id/urn:aaid:sc:VA6C2:3641dadf-ed3d-4f90-81fe-41c9f84d4bd1"
  >
    View My Group's Presentation on the Titan Submersible Disaster
  </a>
  <a routerLink="/university-honors" class="back-link"
    >Back to University Honors</a
  >
</div>
