<div class="intermediate-composition">
  <h1><u>Honors Intermediate Composition</u></h1>
  <p class="honors-showcase">
    &nbsp; &nbsp;Within the computer science world, the first thing people think
    about is somebody alone coding on a computer. But in reality, many if not
    all jobs in the computer science field require you to be able to converse
    and convey your thoughts with many coworkers who are all working on the same
    project together. One of the main focuses in this course was discourse
    communities. We spent several weeks talking about the different types of
    communities and how they operate and communicate with one another. Then I
    wrote an essay analyzing the discourse community of Liverpool fans to get a
    deeper understanding of the material we had learned. I did research by
    joining fan groups on social media like Discord, Instagram, and YouTube.
    Through this experience I was able to understand how fans communicated with
    one another about many different things and why they used certain forms of
    communication. After doing my research and writing this essay it helped me
    not to only find what types of communication people used, but why they used
    them and how it benefited them. Taking this class impacted me because I
    learned to look deeper into what I am doing in my everyday life to not only
    understand what I am doing or learning in class, but to expand to why I am
    doing this.
  </p>
  <button class="pdfLink" mat-raised-button (click)="openPDF('assets/dca.pdf')">
    View my Discourse Community Analysis
  </button>
  <a routerLink="/university-honors" class="back-link"
    >Back to University Honors</a
  >
</div>
