.projects {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.projects:last-child{
  border-bottom: none;
}

.project {
  width: 50%;
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 1em;
}

.github-link {
  color: unset;
  text-decoration: none;
}

.last-repo {
  border-bottom: none;
}